{
    "printWidth": 120,
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "endOfLine": "lf",
    "semi": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
